html body{ min-width: 300px; }

#gdlr-responsive-navigation{ display: none; }

/*--- tablet ---*/
@media only screen and (max-width: 1159px) {
	.gdlr-navigation-gimmick{ display: none; }
	.gdlr-navigation-wrapper .gdlr-main-menu > li > a,
	.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul-pre, 
	.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul{ padding-left: 12px; padding-right: 12px; }
}

@media only screen and (max-width: 959px) {
	body .container{ max-width: 768px; }	
	body .body-wrapper.gdlr-boxed-style { max-width: 808px; }
	
	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { opacity: 1; }

	.gdlr-logo { margin: 0px auto !important; padding-top: 20px; padding-bottom: 20px; float: none; }
	.gdlr-navigation-wrapper { float: none; text-align: center; margin-top: 10px !important; line-height: 0; }
	.gdlr-navigation-wrapper .gdlr-navigation { display: inline-block; text-align: left; line-height: 1.7; }
	.gdlr-navigation-wrapper .gdlr-main-menu > li > a{ padding-left: 12px; padding-right: 12px; padding-bottom: 25px; }
	.gdlr-navigation-wrapper .gdlr-menu-search-button-sep{ margin-right: 20px; margin-left: 0px; }
	
	.gdlr-fixed-header{ display: none; }
	.body-wrapper.gdlr-header-transparent .gdlr-header-inner-overlay{ display: none; }

	.portfolio-item-wrapper .gdlr-outer-nav, .blog-item-wrapper .gdlr-outer-nav { display: none; }
	.gdlr-datepicker-range-wrapper .ui-datepicker-group { width: auto; border: none; }
	
	.body-wrapper.gdlr-header-transparent .gdlr-page-title-wrapper { padding-top: 70px; }
	.body-wrapper.gdlr-header-transparent .gdlr-header-wrapper { position: relative; background: #000; }
	
	.gdlr-hide-in-tablet{ display: none; } 
	.gdlr-hide-in-tablet-mobile{ display: none; }
}

/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {
	body .container{ max-width: 420px; }
	body .body-wrapper.gdlr-boxed-style { max-width: 460px; }
	body .body-wrapper{ overflow: hidden; }
	
	.one-ninth, .one-eighth, .one-seventh,.one-fifth,
	.two-fifth, .three-fifth, .four-fifth,
	.one, .two, .three, .four, .five, .six, .seven,
	.eight, .nine, .ten, .eleven, .twelve{ width: 100%; }	
	
	/*--- header ---*/
	.top-navigation-container{ text-align: center; line-height: 1; }
	.top-navigation-left{ float: none; }
	.top-navigation-right{ float: none; padding-bottom: 10px; }
	.top-navigation-right-text{ float: none; padding: 10px 0px; }
	.top-social-wrapper{ float: none; margin-left: 0px; display: inline-block; padding: 0px; }
	
	#gdlr-responsive-navigation { display: block; height: 0px; position: static; float: none; }
	#gdlr-responsive-navigation .dl-trigger{ position: absolute; right: 15px; top: 50%; margin-top: -20px; }
	.dl-menuwrapper > .dl-menu, 
	.dl-menuwrapper > .dl-submenu{ margin: 30px 0px 0px; width: 390px; text-align: left; left: 15px; }
	
	body .gdlr-logo{ float: none; display: block; padding: 30px 80px; }
	body .gdlr-logo.gdlr-align-left #gdlr-responsive-navigation .dl-trigger,
	body .gdlr-logo.gdlr-align-right #gdlr-responsive-navigation .dl-trigger{ top: 45px; margin-top: 0px; }
	
	.gdlr-navigation-wrapper{ display: none; }
	.gdlr-header-wrapper{ background: #111; position: relative; }
	
	/*--- stunning-text ---*/
	.gdlr-stunning-text-item{ text-align: center; }
	.gdlr-stunning-text-item.type-normal.gdlr-button-on{ padding-right: 0px; }
	.gdlr-stunning-text-item.type-normal .stunning-text-button{ position: static; margin-top: 0px; }
	.gdlr-stunning-text-item.with-padding.gdlr-button-on{ padding-right: 35px; }
	
	.gdlr-service-with-image-item .service-with-image-thumbnail { float: none; margin: 0px auto; }
	.gdlr-service-with-image-item .service-with-image-content-wrapper { text-align: center; } 
	
	.gdlr-feature-media-item.gdlr-left .feature-media-thumbnail{ float: none; width: auto; margin-right: 0px;}
	.gdlr-feature-media-item .feature-media-icon { display: none; }
	html .woocommerce ul.products li.product, html .woocommerce-page ul.products li.product { width: 99% !important; }
	
	/*--- single page ---*/
	.gdlr-portfolio-style1 .gdlr-portfolio-description{ float: none; margin-right: 0px; width: auto; }
	.gdlr-portfolio-style1 .gdlr-portfolio-info{ width: auto; float: none; margin-bottom: 30px; }	
	.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail {
    max-width: 100%; float: none; margin-right: 0px; margin-left: 0px; width: auto !important;  }
	
	.gdlr-blog-medium .gdlr-blog-thumbnail { margin-right: 0px; float: none; margin-bottom: 20px; width: auto; }	

	/*--- slider ---*/
	.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-text { display: none; }
	.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-title { margin-bottom: 0px; font-size: 15px; }
	.gdlr-caption-wrapper .gdlr-caption { max-width: 100%; padding: 13px 12px; }	 
	
	/*--- title item ---*/
	.gdlr-item-title-wrapper.pos-center .gdlr-item-title-gimmick { display: none; }
	.gdlr-item-title-wrapper.pos-icon.gdlr-right-text, 
	.gdlr-item-title-wrapper.pos-center.gdlr-right-text { padding: 0px; }
	.gdlr-item-title-wrapper > .nav-container { position: static; text-align: center; margin-top: 10px; }
	.gdlr-item-title-wrapper > .nav-container > .gdlr-right-text-link{ float: none; margin: 0px; }
	
	.gdlr-hotel-availability .gdlr-reservation-field{ float: none; width: auto; margin-bottom: 20px; }
	.gdlr-hotel-availability .gdlr-datepicker-wrapper{ margin-right: 0px; }
	.gdlr-hotel-availability .gdlr-combobox-wrapper{ margin-right: 0px; }
	.gdlr-hotel-availability .gdlr-hotel-availability-submit input[type="submit"]{ margin-top: 0px; }

	.gdlr-hotel-availability .gdlr-resv-datepicker,
	.gdlr-hotel-availability .gdlr-resv-combobox,
	.gdlr-hotel-availability.gdlr-hostel .gdlr-resv-datepicker,
	.gdlr-hotel-availability.gdlr-hostel .gdlr-resv-combobox,
	.gdlr-hotel-branches-enable .gdlr-hotel-availability .gdlr-resv-branches-combobox,
	.gdlr-hotel-branches-enable .gdlr-hotel-availability .gdlr-resv-datepicker,
	.gdlr-hotel-branches-enable .gdlr-hotel-availability .gdlr-resv-combobox,
	.gdlr-hotel-branches-enable .gdlr-hotel-availability.gdlr-hostel .gdlr-resv-datepicker,
	.gdlr-hotel-branches-enable .gdlr-hotel-availability.gdlr-hostel .gdlr-resv-combobox{ float: none !important; width: auto !important; }
	
	.gdlr-item-title-head .gdlr-flex-prev,
	.gdlr-item-title-head .gdlr-flex-next{ display: none; }
	
	/*--- booking ---*/
	.gdlr-reservation-bar { float: none; width: auto; margin: 0px auto 40px; }
	.single-room .gdlr-reservation-bar { float: none; margin: 0px; width: auto; margin-bottom: 30px; }

	.gdlr-medium-room .gdlr-room-thumbnail { float: none; margin-right: 0px; margin-bottom: 30px; max-width: 100%; }
	.gdlr-datepicker-range-wrapper .ui-datepicker-group { width: auto; border: none; }
	.gdlr-reservation-people-title { display: none; }
	.gdlr-booking-contact-form .gdlr-form-half-right,
	.gdlr-booking-contact-form .gdlr-form-half-left { float: none; width: auto; margin-right: 0px; margin-left: 0px; }
	
	.copyright-left, .copyright-right { text-align: center; float: none; }
	
	.gdlr-hide-in-tablet{ display: block; } 
	.gdlr-hide-in-mobile{ display: none; } 
	
	.gdlr-service-with-image-item .service-with-image-thumbnail { margin-bottom: 30px; }
}

/*--- mobile portrait style ---*/
@media only screen and (max-width: 419px) {
	body .container{ max-width: 300px; }
	body .body-wrapper.gdlr-boxed-style { max-width: 340px; }
	
	body .gdlr-logo{ padding-left: 0px; }
	.dl-menuwrapper .dl-menu, .dl-menuwrapper > .dl-submenu{ width: 270px; }
}