
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gdlr-header-substitute">
</div>
<div class="gdlr-page-title-wrapper">
    <div class="gdlr-page-title-overlay"></div>
    <div class="gdlr-page-title-container container">
        <h1 class="gdlr-page-title">Liên Hệ</h1>
        <span class="gdlr-page-caption">Trang Liên Hệ</span>
    </div>
</div>

<div id="gdlr-header-substitute">
</div>
<!-- is search -->
<div class="content-wrapper">
    <div class="gdlr-content">

        <!-- Above Sidebar Section-->
        <div class="above-sidebar-wrapper">
            <section id="content-section-1">
                <div class="gdlr-full-size-wrapper gdlr-show-all" style="padding-bottom: 0px;  background-color: #ffffff; ">
                    <div class="gdlr-item gdlr-content-item" style="margin-bottom: 0px;">
                        <div class="wpgmp_map_container wpgmp-map-1" rel="map1">
                            <div class="wpgmp_map " style="width:100%; height:450px;" id="map1"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4205949355264!2d106.78252777589897!3d10.855580057726954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sThu%20Duc%20Campus%20Hutech%20khu%20E!5e0!3m2!1svi!2s!4v1683568671813!5m2!1svi!2s" width="2000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </section>
        </div>

        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container">
                <div class="with-sidebar-left eight columns">
                    <div class="with-sidebar-content twelve columns">
                        <section id="content-section-2">
                            <div class="section-container container">
                                <div class="gdlr-item gdlr-content-item" style="margin-bottom: 60px;">
                                    <p>
                                        <div class="clear"></div>
                                        <div class="gdlr-space" style="margin-top: -22px;"></div>
                                        <div class="clear"></div>
                                        <div class="gdlr-space" style="margin-top: 25px;"></div>
                                        <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <div class="gdlr-item-start-content sidebar-right-item">
                                                <div id="text-6" class="widget widget_text gdlr-item gdlr-widget">
                                                    <h3 style="font-size: 35px; color: wheat" class="gdlr-widget-title">Chào mừng quý khách đến với khách sạn chúng tôi</h3>
                                                    <div class="clear"></div>
                                                    <div style="font-size:20px; color:white" class="textwidget">Hãy liên lạc với Chúng tôi để đặt những phòng view đẹp thoải mái</div>
                                                </div>
                                                <div id="text-7" class="widget widget_text gdlr-item gdlr-widget">
                                                    <h3 style="font-size: 30px; color: wheat" class="gdlr-widget-title">Thông tin liên lạc</h3>
                                                    <div class="clear"></div>
                                                    <div style="font-size:20px; color:white" class="textwidget">
                                                        <p><i class="gdlr-icon fa fa-map-marker" style="color: #444444; font-size: 16px; "></i>17/1A Đường số 7 Phường Tam Bình, Quận Thủ Đức</p>
                                                        <p><i class="gdlr-icon fa fa-phone" style="color: #444444; font-size: 16px; "></i> +84 0924072002</p>
                                                        <p><i class="gdlr-icon fa fa-envelope" style="color: #444444; font-size: 16px; "></i> minzondev@gmai.com</p>
                                                        <p><i class="gdlr-icon fa fa-clock-o" style="color: #444444; font-size: 16px; "></i> Mỗi Ngày 9:00-17:00</p>
                                                    </div>
                                                </div>
                                                <div id="text-8" class="widget widget_text gdlr-item gdlr-widget">
                                                    <h3 style="font-size: 25px; color: wheat" class="gdlr-widget-title">Mạng Xã Hội</h3>
                                                    <div class="clear"></div>
                                                    <div style="font-size:20px; color:white" class="textwidget">
                                                        <a href="https://www.facebook.com/24.thanhdanh.07/"><i class="gdlr-icon fa fa-facebook" style="color: white; font-size: 40px; "></i></a> <a href="https://www.instagram.com/dawn_and_chill/"><i class="gdlr-icon fa fa-instagram" style="color: white; font-size: 40px; "></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </section>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="gdlr-sidebar gdlr-right-sidebar four columns">

                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Below Sidebar Section-->
        <div class="below-sidebar-wrapper">
            <section id="content-section-3">
                <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all no-skin" id="gdlr-parallax-wrapper-1" data-bgspeed="0.2" style="background-image: url('upload/contact-bg.jpg'); padding-top: 100px; padding-bottom: 50px; ">
                    <div class="container">
                        <div class="four columns">
                            <div class="gdlr-box-with-icon-ux gdlr-ux">
                                <div class="gdlr-item gdlr-box-with-icon-item pos-top type-circle">
                                    <div class="box-with-circle-icon" style="background-color: #b89f80">
                                        <i class="fa fa-envelope" style="color:#ffffff;"></i>
                                        <br>
                                    </div>
                                    <h4 class="box-with-icon-title">Liên Hệ Email</h4>
                                    <div class="clear"></div>
                                    <div style="font-size: 25px; color: wheat; height:80px" class="box-with-icon-caption">
                                        <p>minzondev@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="gdlr-box-with-icon-ux gdlr-ux">
                                <div class="gdlr-item gdlr-box-with-icon-item pos-top type-circle">
                                    <div class="box-with-circle-icon" style="background-color: #b89f80">
                                        <i class="fa fa-phone" style="color:#ffffff;"></i>
                                        <br>
                                    </div>
                                    <h4 class="box-with-icon-title">Liên Hệ Điện Thoại</h4>
                                    <div class="clear"></div>
                                    <div style="font-size: 25px; color: wheat; height: 80px" class="box-with-icon-caption">
                                        <p>+84 0924072002</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="gdlr-box-with-icon-ux gdlr-ux">
                                <div class="gdlr-item gdlr-box-with-icon-item pos-top type-circle">
                                    <div class="box-with-circle-icon" style="background-color: #b89f80">
                                        <i class="fa fa-home" style="color:#ffffff;"></i>
                                        <br>
                                    </div>
                                    <h4 class="box-with-icon-title">Địa Chỉ Chúng Tôi</h4>
                                    <div class="clear"></div>
                                    <div style="font-size: 25px; color: wheat; height: 80px" class="box-with-icon-caption">
                                        <p>17/1A Đường số 7 Phường Tam Bình, Quận Thủ Đức</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
        </div>

    </div>
    <!-- gdlr-content -->
    <div class="clear"></div>
</div>
<!-- content wrapper -->