@{
    ViewBag.Title = "Thống kê theo tháng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Year: @ViewBag.Year</p>
<p>Month: @ViewBag.Month</p>
<p>Revenue: @ViewBag.Revenue</p>
